
<!-- base template  -->
{{define "posts/head"}}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Coming Soon - QuillPen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>



{{end}}

 <!-- Multi Post summary page with body  -->
{{define "posts/list"}}

<!DOCTYPE html>
<html lang="en">

{{template "posts/head"}}
<body>
    {{template "posts/posts" .}}
</body>
</html>
{{end}}




 <!-- Multi Post Row Grid   -->

{{define "posts/posts"}}
    
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Posts</h1>


    <div class="row">
        {{range .}}
        <div class="col-lg-6  mb-4">
            <form action="/post/{{.PostId}}">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        {{.Title}}
                    </h4>
                    <p class="card-text">{{.Summary}}</p>
                    <button type="submit" class="btn btn-primary">Read</button>
                </div>
                {{if .Created_by}}
                <div class="card-footer bg-transparent border-success">{{.Created_by}}</div>
                {{end}}
            </div>
        </form>
        </div>
        {{end}}
    </div>
    <!-- /.row -->


</div>


{{end}}

<!--  Signle post grid  -->

{{define "posts/post"}}


    <div class="row">
        <div class="col-lg-12  mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        {{.Title}}
                    </h4>
                    <p class="card-text h3">{{.Summary}}</p>
                    <p class ="card-text"> {{.Content}}</p>
                </div>
                {{if .Created_by}}
                <div class="card-footer bg-transparent border-success">{{.Created_by}}</div>
                {{end}}
            </div>
        </div>


{{end}}




<!-- Single post View page -->

{{define "posts/one"}} 
<!DOCTYPE html>
<html lang="en">

{{template "posts/head"}}

<body>
    {{template "posts/post" .}}
</body>
</html>

{{end}}


